:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --sub-text-color: #fff;
  --accent-color: red;

  --main-text-color: #000;

  --first-brand-color: #F04520;
  --second-brand-color: #1073E5;
  --third-brand-color: #EF869C;

  --main-font: 'Open Sans Condensed';
  --title-font: 'Otomanopee One';

  font-size: 62.5%;
}
